<?xml version="1.0" encoding="UTF-8"?>

<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
        https://jakarta.ee/xml/ns/jakartaee
        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0">

    <display-name>Lab07 Student Web</display-name>


    <!-- LOGIN FILTER -->

    <filter>

        <filter-name>LoginFilter</filter-name>

        <filter-class>
            vn.edu.eaut.lab7.filter.LoginFilter
        </filter-class>

    </filter>


    <!-- FILTER CHO SINH-VIEN -->

    <filter-mapping>

        <filter-name>LoginFilter</filter-name>

        <url-pattern>/sinh-vien</url-pattern>

    </filter-mapping>


    <!-- SESSION -->

    <session-config>

        <session-timeout>
            30
        </session-timeout>

    </session-config>


    <!-- TRANG MẶC ĐỊNH -->

    <welcome-file-list>

        <welcome-file>
            index.jsp
        </welcome-file>

    </welcome-file-list>

</web-app>